{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
    <button class="checkAllStatusesBtn">Check all</button>
    <table class="table_dark">
        <tr>
            <th>Link</th>
            <th>Status</th>
        </tr>
        {% for i in links %}
            <tr data-id="{{ i.id }}" class="row">
                <td>{{ i.link }}</td>
                <td class="status"></td>
                <td>
                    <button class="checkStatusBtn" data-id="{{ i.id }}">Check status</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    </body>
{% endblock %}